/*
 * Estilos de tu proyecto
 */
 *{
    box-sizing: border-box;
 }
 body{
    border: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
section{
    display: flex;
}
header{
    background-image: url('../assets/images/hero.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px -100px; 
    height: 780px;
}
nav{ 
    width: 100%;
    background-color:  transparent;
    color: white;
    display: flex;
    justify-content: space-around; 
}
#logo{
    width: 74px;
    height: 53px;
    padding: 30px;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
li{
    align-items: center;
    padding: 22px;
}
.menu{
    flex-direction: row;
}
#firstSection{
    display: flex;
    justify-content: flex-end;
}
.begin{
   background-color: white;
   padding: 30px;
   width: 35.5%;
   height: 50%;
   padding: 20px;
   color: #352384;
}
#button{
    background-color: #FF00BF;
    border: 0px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 160px;
}
#open{
   display: flex;
   align-items: flex-start;
   justify-content: start;
   background-image: linear-gradient(#76278F, #2B1E66);
   color: white;
}
.slogan{
    width: 650px;
    padding: 5px 40px 40px 160px;
    height:630px;
}
.cellphone{
   width: 470px;
   height:495px;
}
.discrible{
   height: 500px;
   width: 440px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0px 20px 0px 40px;
}
.video{
   height: 500px;
   width: 900px;
}
#final{
    display: flex;
    background-color: #333447;
    flex-direction: column;
    color: white;
    height: 400px;
}
#interaction{
    display: flex;
    justify-content: center;
    width: 81.5%;
}
#keywords{
    display: flex;
    width: 100%;
}
#images{
    display: flex;
    flex-direction: column;
}
.store{
    width: 160px;
    height: 75px;
    padding: 18px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    font-size: 1em;    
}
.media{
    border: 1px solid transparent;
    font-size: 2em;
}
.face{
    padding: 5px 9px;
}
footer{
    display: flex;
    background-color: #333447;
    color: white;
    justify-content: center;
    align-content: center;
    height: 105px;
}